.containerHead {
  display: flex;
  justify-content: space-between;
}

.containerAvatar {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 0;
}
.titleAmbient {
  color: #0000ea;
  font-size: 1.25rem;
  font-weight: bold;
}
.buttonNewSchedules {
  width: 10rem;
  margin-top: 1rem;
}
.buttonNewSchedules:disabled:hover {
  background: gray !important;
}
