body {
  margin: 0;
  padding: 0;
}

.ant-card-body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      90deg,
      rgba(39, 100, 255, 0.15) -18.52%,
      rgba(255, 255, 255, 0) 101.17%
    ),
    #f8f8ff;
  border-radius: 8px !important;
}
.ant-input-affix-wrapper {
  background: transparent !important;
  & > input {
    background-color: transparent;
  }
}
.ant-input {
  background: transparent !important;
}
.Container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: minmax(200px, 200px) minmax(600px, 1fr);
  margin: 0 auto;
}
.Content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0 0;
}
